<div class="container">
  <div class="book-detail-container">
    <div class="book-header">
      <img class="book-cover" [src]="baseUrl+ '/' + book?.picture_url" alt="{{ book?.name }}" />
      <div class="book-info">
        <h1><strong>Kitob nomi: </strong>{{ book?.name }}</h1>
        <p class="description"><strong>Haqida: </strong> {{ book?.description }}</p>
<!--        <nz-list nzBordered>-->
<!--          <nz-list-item *ngIf="book?.country?.name">-->
<!--            <strong>Mamlakat:</strong> {{ book?.country.name }}-->
<!--          </nz-list-item>-->

<!--          <nz-list-item *ngIf="book?.author?.full_name">-->
<!--            <strong>Muallif:</strong> {{ book?.author.full_name }}-->
<!--          </nz-list-item>-->

<!--          <nz-list-item *ngIf="book?.type">-->
<!--            <strong>Janr:</strong> {{ book?.type }}-->
<!--          </nz-list-item>-->

<!--          <nz-list-item *ngIf="book?.length">-->
<!--            <strong>Hajmi:</strong> {{ book?.length }} sahifa-->
<!--          </nz-list-item>-->

<!--          <nz-list-item *ngIf="book?.category?.name">-->
<!--            <strong>Bo‘lim:</strong> {{ book?.category.name }}-->
<!--          </nz-list-item>-->
<!--        </nz-list>-->

        <ul class="book-details">
          <li *ngIf="book?.country?.name">
            <strong>Mamlakat:</strong> {{ book?.country?.name }}
          </li>
          <li *ngIf="book?.author?.full_name">
            <strong>Muallif:</strong> {{ book?.author?.full_name }}
          </li>
          <li *ngIf="book?.type">
            <strong>Janr:</strong> {{ book?.type }}
          </li>
          <li *ngIf="book?.length">
            <strong>Hajmi:</strong> {{ book?.length }} sahifa
          </li>
          <li *ngIf="book?.category?.name">
            <strong>Bo‘lim:</strong> {{ book?.category?.name }}
          </li>
        </ul>

      </div>
    </div>
    <div class="book-content">
      <div class="tab-navigation">
        <button
          class="tab-btn"
          [class.active]="activeTab === 'info'"
          (click)="selectTab('info')"
        >
          Ma'lumot
        </button>
        <button
          class="tab-btn"
          [class.active]="activeTab === 'reviews'"
          (click)="selectTab('reviews')"
        >
          Ta'rif
        </button>
        <button
          class="tab-btn"
          (click)="selectTab('readOnline')"
        >
          Online o'qish
        </button>
      </div>
      <div class="tab-content">
        <div *ngIf="activeTab === 'info'" class="info-tab">
          <p>{{ book?.description }}</p>
        </div>
        <div *ngIf="activeTab === 'reviews'" class="reviews-tab">
<!--          <p *ngFor="let review of book?.">{{ review }}</p>-->
        </div>
        <div *ngIf="activeTab === 'readOnline'"class="read-online-tab">
          <button (click)="openPdfViewer('')"  class="pdf-open">Kattaroq ekranda o'qish</button>
          <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(baseUrl+'/'+book?.pdf_url+'#toolbar=0&navpanes=0&scrollbar=0&zoom=150')"  width="100%" height="800px"></iframe>
        <!-- Fullscreen tugmasi -->
        <!-- <button (click)="openFullscreen()" class="btn-fullscreen">
              <i class="fas fa-expand"></i>
            </button>
            <button (click)="closeFullscreen()" class="btn-compress">
              <i class="fas fa-compress"></i>
            </button>-->
          <!-- </div> -->
        </div>
    </div>
  </div>
</div>

<!-- PDF viewer modali -->
<div *ngIf="showPdfViewer" class="pdf-modal">
  <div class="modal-content">
    <button (click)="closePdfViewer()" class="btn-close">✖</button>
    <!-- Fullscreen tugmasi -->
    <button (click)="openFullscreen()" class="btn-fullscreen">
      <i class="fas fa-expand"></i>
    </button>
    <button (click)="closeFullscreen()" class="btn-compress">
      <i class="fas fa-compress"></i>
    </button>
    <iframe
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          baseUrl+'/'+book?.pdf_url+'#toolbar=0&navpanes=0&scrollbar=0&zoom=180'
        )
      "
      width="100%"
      height="800px"
    ></iframe>
  </div>

  <!-- <iframe
      [src]="
      sanitizer.bypassSecurityTrustResourceUrl(
        '../../../../../assets/data/Vilyam-Shekspir-Hamlet-tragediya.pdf #toolbar=0&navpanes=0&scrollbar=0&zoom=150'
        )
        "
        allowfullscreen
        width="100%"
        ></iframe> -->
</div>
</div>
