<header class="site-header">
  <div class="container">
    <div class="header">
      <!-- Logo with enhanced style -->
      <a class="logo" [routerLink]="['/']" rel="noopener noreferrer">
        MOI.<span>Book</span>
      </a>

      <!-- Navigation menu with improved styles -->
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item"><a href="javascript:void(0)" (click)="jumpTo('books')">Books</a></li>
          <li class="header-item" (click)="jumpTo('categories')"><a href="javascript:void(0)">Categories</a></li>
          <li class="header-item" (click)="jumpTo('wishlist')"><a href="javascript:void(0)">Wishlist</a></li>
          <li class="header-item" (click)="jumpTo('blog')"><a href="javascript:void(0)">Blog</a></li>
          <li class="header-item"><a href="javascript:void(0) " (click)="jumpTo('about')">About Us</a></li>
          <li class="header-item"><a href="javascript:void(0)" (click)="showReportInfo()">Report</a></li>
        </ul>
      </nav>

      <!-- Search and icons -->
      <div class="header-actions">
        <input class="search-input" type="search" placeholder="Kitob qidirish">
        <div class="icon-group">
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-user" (click)="toggleDropdown()"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="dropdown-menu" *ngIf="isDropdownVisible">
  <ul>
    <li (click)="goToProfile()">Profile</li>
    <li (click)="logout()">Logout</li>
  </ul>
</div>
