<div class="favorite-books">
  <h2>Yoqgan kitoblar</h2>
  <div class="books-list" *ngIf="favoriteBooks.length !== 0; else noData">
    <div class="book-card" *ngFor="let book of favoriteBooks">
      <div [routerLink]="['/book-detail', favoriteBooks.id]">
        <img [src]="baseUrl+'/'+book.picture_url" alt="Book C*over" class="book-cover"/>
        <h3>{{ book.name }}</h3>
        <p>{{ book.author }}</p>
      </div>
      <button (click)="removeFromFavorites($event, book)" class="favorite-button">
        <i [class]="getIcon(book)"></i>
      </button>
    </div>
  </div>

  <ng-template #noData>
    <nz-empty></nz-empty>
  </ng-template>
</div>
