
  <div class="books-list" *ngIf="books.length !== 0; else noData">
    <div class="book-card" *ngFor="let book of books">
      <div [routerLink]="['/book-detail', book.id]">
        <img [src]="baseUrl+'/'+book.picture_url" alt="{{ book.name }}" class="book-cover"/>
        <h3>{{ book.name }}</h3>
        <p>{{ book.author }}</p>
      </div>
      <button (click)="removeFromFavorites($event, book)" class="favorite-button">
        <i [class]="getIcon(book)"></i>
      </button>
    </div>
  </div>

  <ng-template #noData>
    <nz-empty title="Bu yerda tanlangan kitoblar o'rin oladi." nzNotFoundContent="Tanlangan kitoblar mavjud emas"></nz-empty>
  </ng-template>

