<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>MOI.<span>Book</span></h2>
        <p>MOI.Book - Institut haqida batafsil ma'lumotlar, tarixi va maqsadlari.</p>
      </div>
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="javascript: void()" (click)="jumpTo('books')">Books</a></li>
          <li><a href="javascript: void()"
              (click)="jumpTo('categories')">Categories</a></li>
          <li><a href="javascript: void()"
              (click)="jumpTo('wishlist')">Wishlist</a></li>
          <li><a href="javascript: void()"
              (click)="jumpTo('blog')">Blog</a></li>
          <li><a href="javascript: void()"
              (click)="jumpTo('about')">About Us</a></li>
          <!-- <li><a href="javascript: void()" -->
              <!-- (click)="showReportInfo()">Report</a></li> -->
        </ul>
      </div>
      <div class="footer-section social-media">
        <h3>Social Media</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 MOI.Book | All rights reserved</p>
    </div>
  </div>
</footer>
