<main class="site-main">
  <section class="intro-section" id="intro">
    <div class="container">
      <div class="intro">
        <!-- Left side text content -->
        <div class="intro-text">
          <h2>Find Your <br> Next Book</h2>
          <p>Our most popular and trending <strong>On.Book</strong> perfect.<br> Not sure what to read now next reading mood perfectly.</p>
          <button [routerLink]="['/all-books']">Top kitoblar</button>
        </div>

        <!-- Right side book list -->
        <div class="intro-card">
          <ul class="intro-list">
            <li class="intro-item" [routerLink]="['/all-books']" *ngFor="let book of topBooks">
              <div class="intro-wrapper">
                <img [src]="baseUrl+'/'+book.picture_url" alt="The Stranger">
              </div>
              <div>
                <h3>The Stranger</h3>
              <p>Albert Camus</p>
              </div>
            </li>
            <!-- <li class="intro-item" [routerLink]="['/all-books']">
              <img src="../../../../../assets/imgs/book2.png" alt="Der Process">
              <div>
                <h3>Der Process</h3>
              <p>Franz Kafka</p>
              </div>
            </li>
            <li class="intro-item" [routerLink]="['/all-books']">
              <img src="../../../../../assets/imgs/book3.png" alt="Divine Comedy">
              <div>
                <h3>The Stranger</h3>
              <p>Albert Camus</p>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="offers-card-section" id="books">
    <div class="container">
      <div class="intro-card offers-card">
        <h2>Kategoriyalar</h2>
        <ul class="intro-list">
          <li class="intro-item offers-card" *ngFor="let category of randomCategoryImage(randomCategories)">
            <div class="img-wrapper">
              <ng-container *ngFor="let img of randomImage(randomBook)">
                <img [src]="baseUrl+'/'+img.picture_url" alt="The Stranger">
              </ng-container>
            </div>
            <div>
              <!-- <h3>The Stranger</h3> -->
            <p>{{category.name}}</p>
            </div>
          </li>
          <!-- <li class="intro-item">
            <div class="img-wrapper img-wrapper-rev random-image">
              <ng-container *ngFor="let img of randomBook2">
                <img [src]="baseUrl+'/'+img.picture_url" alt="The Stranger" [routerLink]="['/all-books']">
              </ng-container>
            </div>
            <div>
              <h3>Der Process</h3>
            <p>Franz Kafka</p>
            </div>
          </li>
          <li class="intro-item">
            <div class="img-wrapper random-image">
              <ng-container *ngFor="let img of randomBook3">
                <img [src]="baseUrl+'/'+img.picture_url" alt="The Stranger">
              </ng-container>
            </div>
            <div>
              <h3>The Stranger</h3>
            <p>Albert Camus</p>
            </div>
          </li> -->
        </ul>
        <button [routerLink]="['/all-categories']">Barchasini ko'rish</button>
      </div>
    </div>
  </section>
  <section class="event-section" id="event">
    <div class="container">
      <div class="book-fair-container">
        <!-- Chap tomonda kitoblar ro‘yxati -->
        <div class="books-image">
          <img src="../../../../../assets/imgs/image.png" alt="">
        </div>
      
        <!-- O'ng tomonda tadbir ma'lumotlari -->
        <div class="event-info">
          <h2>Online Book Fairs 2022</h2>
          <p>
            In a country teetering on the brink of civil war, two young people meet—sensual, fiercely independent
            Nadia and gentle, restrained Saeed. The unrest roiling their city.
          </p>
          <!-- <button class="create-account-btn">Create Account</button> -->
        </div>
      </div>
      
    </div>
  </section>

  <section class="authors-section" id="authors">
      <div class="wrapper container">
        <h2>Muharrirlar</h2>
        <a [routerLink]="['/all-authors']" class="see-all">Barchasini ko'rish</a>
      </div>
      <div class="author">
        <div class="container authors">
          <div class="author-card">
            <div class="author-image">
              <img src="../../../../../assets/imgs/usa.png" alt="Friedrich Nietzsche" />
            </div>
            <div class="author-info">
              <p class="author-name">Name: <strong>Friedrich Nietzsche</strong></p>
              <p class="author-about">About the author:</p>
              <p>British-American author of fantasy genre. His first book - "The Lord of Thorns" became a finalist of the fantasy genre in 2011...</p>
            </div>
          </div>
          <div class="author-card">
            <div class="author-image">
              <img src="../../../../../assets/imgs/bobur.png" alt="Ervin Shrodinger" />
            </div>
            <div class="author-info">
              <p class="author-name">Name: <strong>Ervin Shrodinger</strong></p>
              <p class="author-about">About the author:</p>
              <p>British-American author of fantasy genre. His first book - "The Lord of Thorns" became a finalist of the fantasy genre in 2011...</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  
</main>
