<main class="site-main">
  <section class="intro-section">
    <div class="container">
      <div class="intro">
        <!-- Left side text content -->
        <div class="intro-text">
          <h2>Find Your <br> Next Book</h2>
          <p>Our most popular and trending <strong>On.Book</strong> perfect.<br> Not sure what to read now next reading mood perfectly.</p>
          <button>Explore Now</button>
        </div>

        <!-- Right side book list -->
        <div class="intro-card">
          <ul class="intro-list">
            <li class="intro-item">
              <img src="../../../../../assets/imgs/book1.png" alt="The Stranger">
              <div>
                <h3>The Stranger</h3>
              <p>Albert Camus</p>
              </div>
            </li>
            <li class="intro-item">
              <img src="../../../../../assets/imgs/book2.png" alt="Der Process">
              <div>
                <h3>Der Process</h3>
              <p>Franz Kafka</p>
              </div>
            </li>
            <li class="intro-item">
              <img src="../../../../../assets/imgs/book3.png" alt="Divine Comedy">
              <div>
                <h3>The Stranger</h3>
              <p>Albert Camus</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
